<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .text-center {
        text-align: center;
        margin-top: 50px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: 2em;
        margin-bottom: 80px;
        text-align: center;
    }

    .form-group {
        padding-left: 20px;
        display: flex;
        aling-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    .form-group label {
        display: block;
        
    }

    .form-group input {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        
    }

    button {
        width: 100%;
        background-color: #4caf50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }
</style>

@if (TempData["ToastrMessage"] != null)
{
    <script>
        toastr.success('@TempData["ToastrMessage"]');
    </script>
}

<!-- Adicione o formulário abaixo -->
<div class="text-center">
    <form method="post" action="/Carga/importarCarga">
        <h2>Importar Carga</h2>

        <div class="form-group">
            <label for="tituloEvento">Título da Carga:</label>
            <input type="text" id="tituloEvento" name="tituloEvento" required>
        </div>

        <button type="submit">Enviar</button>
    </form>
</div>
